body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 26px;
    color: #44CCAC;
}

h2 {
    font-size: 21px;
    color: #6060DD;
}

p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;

main img {

    width: 400%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;

}


}